
<button type="button" class="btn btn-primary my-5 mx-2" >Add Product</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Availbility</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.id}}</td>
            <td>{{item.productname}}</td>
            <td>{{item.price}}</td>
            <td>{{item.avail}}</td>
            <td>
                <!-- <button type="button" class="btn btn-success mx-2" (click)="myEvent.emit({
                id:item.id,productname:item.productname,price:item.price,avail:item.avail
            })">Edit</button> -->
            <i class="fa-solid fa-file-pen text-success" (click)="myEvent.emit({
                id:item.id,productname:item.productname,price:item.price,avail:item.avail
            })"></i>
        
            <i class="fa-solid fa-trash text-danger mx-2"  (click)="deleteProduct(item.id)"></i></td>
         </tr>  
     
    </tbody>
  </table>