
<div class="d-flex">
  <div>
    <div class="p-3 mb-2 bg-secondary text-white border-left">MAP{{data | json}}</div>
    <ul id="Listcontainer1">
    </ul>
  </div>
  <div >
    <div class="p-3 mb-2 bg-secondary text-white border-left">MAP + MERGEALL{{data | json}}</div>
    <ul class="p-3 mb-2 bg-light text-dark"id="Listcontainer2">
    </ul>
  </div>
  <div>
    <div class="p-3 mb-2 bg-secondary text-white border-left">MERGEMAP{{data | json}}</div>
    <ul id="Listcontainer3">
    </ul>
  </div>
</div>

