<p>employee-list works!</p>
<a routerLink="/employee/employee-add">Add-Employee</a>
<table>
    <thead  >
        <th *ngFor="let a of thead">
        {{a}}
        </th>
    </thead>
    <tr *ngFor="let item of data">
        
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.dept}}</td>
        <td>{{item.address}}</td>
        <td>{{item.email}}</td>
         <td><button (click)="delete(item.id)">Delete</button></td>
    </tr>

</table>
